server {
    listen 80;
    server_name your-host-name.compute.amazonaws.com;  # ← CHANGE THIS
    location /app1/ {
        proxy_pass http://127.0.0.1:8000/;  # ← Forward to tunnel port
    }
    location /app2/ {
	    proxy_pass http://127.0.0.1:8090/;
    }
}